<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
    <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
  </sectionGroup>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <!-- Connection String -->
    <add name="Availability" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- Twitter Account settings -->
    <add key="Twitter.Tokens.AccessToken" value="574468785-UMDzxgwjui0DnqQzTouilCJyc6X4A3nJ9xm2Br5B"/>
    <add key="Twitter.Tokens.AccessTokenSecret" value="C7U8Jxx3FxtKQIMLo9WxCTZJ7z5sAnv9oWeGSGOC4"/>
    <add key="Twitter.Tokens.ConsumerKey" value="H0zhJcPvumSIuZQjwRikg"/>
    <add key="Twitter.Tokens.ConsumerSecret" value="LyEPCeymqPxhwnyKv1jwR5X98LIvrfo2TJuIOoLz8"/>
    <!-- CronExpression: runs every hour -->
    <add key="CronExpression" value="0 0/60 * * * ?"/>
    <!-- Gets twitts from the last DaysBeforeToday days -->
    <add key="DaysBeforeToday" value="30"/>
  </appSettings>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  <log4net>

    <appender name="GeneralRollingFile" type="log4net.Appender.RollingFileAppender">
      <!-- Log file location -->
      <file value="c:\\Log\\SERVICE.TWITTER.LOG.TXT"/>
      <param name="DatePattern" value="dd.MM.yyyy"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="512KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff} THREAD[%thread] IP[%P{addr}] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="jmarcosp@axpe.com" />
      <from value="no-reply@tid.es" />
      <authentication value="Basic" />
      <username value="jmarcosp"/>
      <passwoed value="Axpe@2013"/>
      <subject value="Twitter Error Message" />
      <smtpHost value="mail.axpe.com" />
      <bufferSize value="1" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff} THREAD[%thread] IP[%P{addr}] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    
    <root>
      <level value="ERROR"/>
      <appender-ref ref="GeneralRollingFile"/>
      <appender-ref ref="SmtpAppender"/>
    </root>

  </log4net>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
